s314233_2024/fingerpints-project/Image/MVG_PCA_False_Bayes_error.png
s314233_2024/fingerpints-project/Image/MVG_PCA_True_Bayes_error.png
s314233_2024/fingerpints-project/Image/Naive_PCA_False_Bayes_error.png
s314233_2024/fingerpints-project/Image/Naive_PCA_True_Bayes_error.png
s314233_2024/fingerpints-project/Image/Tied_PCA_False_Bayes_error.png
s314233_2024/fingerpints-project/Image/Tied_PCA_True_Bayes_error.png
s314233_2024/fingerpints-project/ImageData/Dataset-correlation.png
s314233_2024/fingerpints-project/ImageData/fakeFing-correlation.png
s314233_2024/fingerpints-project/ImageData/genuineFing-correlation.png
s314233_2024/fingerpints-project/ImageData/histogram-dim-1.png
s314233_2024/fingerpints-project/ImageData/histogram-dim-2.png
s314233_2024/fingerpints-project/ImageData/histogram-dim-3.png
s314233_2024/fingerpints-project/ImageData/histogram-dim-4.png
s314233_2024/fingerpints-project/ImageData/histogram-dim-5.png
s314233_2024/fingerpints-project/ImageData/histogram-dim-6.png
s314233_2024/fingerpints-project/ImageData/LDA-direction.png
s314233_2024/fingerpints-project/ImageData/PCA-Analysis.png
s314233_2024/fingerpints-project/ImageData/PCA-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA-histogram-6.png
s314233_2024/fingerpints-project/ImageData/PCA1-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA1-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA1-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA1-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA1-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA1-histogram-6.png
s314233_2024/fingerpints-project/ImageData/PCA2-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA2-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA2-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA2-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA2-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA2-histogram-6.png
s314233_2024/fingerpints-project/ImageData/PCA3-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA3-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA3-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA3-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA3-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA3-histogram-6.png
s314233_2024/fingerpints-project/ImageData/PCA4-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA4-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA4-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA4-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA4-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA4-histogram-6.png
s314233_2024/fingerpints-project/ImageData/PCA5-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA5-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA5-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA5-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA5-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA5-histogram-6.png
s314233_2024/fingerpints-project/ImageData/PCA6-histogram-1.png
s314233_2024/fingerpints-project/ImageData/PCA6-histogram-2.png
s314233_2024/fingerpints-project/ImageData/PCA6-histogram-3.png
s314233_2024/fingerpints-project/ImageData/PCA6-histogram-4.png
s314233_2024/fingerpints-project/ImageData/PCA6-histogram-5.png
s314233_2024/fingerpints-project/ImageData/PCA6-histogram-6.png
s314233_2024/fingerpints-project/MLandPattern/__pycache__/__init__.cpython-310.pyc
s314233_2024/fingerpints-project/MLandPattern/__pycache__/__init__.cpython-311.pyc
s314233_2024/fingerpints-project/MLandPattern/__pycache__/MLandPattern.cpython-39.pyc
s314233_2024/fingerpints-project/MLandPattern/__pycache__/MLandPattern.cpython-310.pyc
s314233_2024/fingerpints-project/MLandPattern/__pycache__/MLandPattern.cpython-311.pyc
Labs/2_Lab.pdf
Labs/3_Lab.pdf
Labs/4_Lab.pdf
Labs/5_Lab.pdf
Labs/6_Lab no project.pdf
Labs/7_Lab.pdf
Labs/8_Lab.pdf
Labs/9_Lab.pdf
Labs/10_Lab.pdf
Labs/11_Lab.pdf
Labs/README_lab2
Labs/Lab_2_3_sol/__pycache__/lda.cpython-311.pyc
Labs/Lab_2_3_sol/__pycache__/pca.cpython-311.pyc
Labs/Lab_4_sol/gau_density.py
Labs/Lab_5_sol/sol.py
Labs/Lab_7_sol/sol (1).py
Labs/Lab_8_sol/bayesRisk.py
Labs/Lab_8_sol/sol_optimizer.py
Labs/Lab_8_sol/sol.py
s314233_2024/fingerpints-project/.DS_Store
